* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    min-width: 500px;
    height: 80vh;
    background-color: 397367;
    border: 3px solid grey ;
    margin-top: 5vh;
}

.screen{
    background-color: grey;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userInput{
    height: 15vh;
    width: 90%;
}

.buttons{
    height: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
    gap: 1vh;
    padding: 1vh;
}