* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    margin-top: 5vh;
    border: 3px solid rgb(66, 61, 61);
    border-radius: 15px;
    height: 500px;
    width: 300px;
    background-color: black;
}

.cam{
    margin: -2px auto auto auto;
    border-radius:10px 10px 50px 50px ;
    height: 13px;
    width: 13px;
    background-color: rgb(66, 61, 61);
}

.upper-area {
    height: 230px;
}

.setting-button {
    color: white;
    float: right;
    margin-top: 10px;
    cursor: pointer;
}

.upper-area>input {
    width: 100%;
    background: transparent;
    color: white;
    font-size: 40px;
    border: none;
    text-align: end;
    margin-top: 20px;
}

.history-button {
    color: white;
    margin: 70px auto 0px 10px;
    cursor: pointer;
}

.exchange-button {
    color: white;
    margin: 70px auto 0px 10px;
    cursor: pointer;
}

.scientific-cal-button {
    color: white;
    margin: 70px auto 0px 10px;
    cursor: pointer;
}

.lower-area {
    height: 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lower-area button {
    flex-basis: 21%;
    margin-top: 10px;
    border-radius: 50px;
    background-color: rgba(34, 32, 32, 0.391);
    cursor: pointer;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 20px;
}

.lower-area button:hover {
    flex-basis: 21%;
    margin-top: 10px;
    border-radius: 50px;
    background-color: rgba(130, 118, 118, 0.855) ;
    cursor: pointer;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}


.from{
    width: 100%;
    background: transparent;
    color: white;
    border: none;
    margin-top: 10px;
}

.to{
    width: 100%;
    background: transparent;
    color: white;
    border: none;
}

option{
    background:black;
    color: white;
}

.exch-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 20px;
    margin-top: 10px;

}

.exch-head h6 {
    margin-bottom: 5px;
    cursor: pointer;
}