* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counterElement{
    height: 40px;
    width: 80px;
    border: 2px solid black;
    margin: auto;
    padding: auto;
}

button{
    height: 40px;
    width: 80px;
    background-color: burlywood;
}